<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".less" mimeType="text/css" />
        </staticContent>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/404.html" responseMode="ExecuteURL" />
            <error statusCode="404" subStatusCode="0" path="/error/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
